<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="false">
  <filter>
    <!-- https://spnego.sourceforge.net/reference_docs.html -->
    <description>SPNEGO filter</description>
    <filter-name>SpnegoHttpFilter</filter-name>
    <filter-class>net.sourceforge.spnego.SpnegoHttpFilter</filter-class>
    <init-param>
      <param-name>spnego.allow.basic</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <!-- Skip authentication if requests are coming from localhost. -->
      <param-name>spnego.allow.localhost</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.authz.403</param-name>
      <param-value>/403.html</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.allow.unsecure.basic</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.login.client.module</param-name>
      <param-value>spnego-client</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.krb5.conf</param-name>
      <param-value>krb5.conf</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.login.conf</param-name>
      <param-value>login.conf</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.login.server.module</param-name>
      <param-value>spnego-server</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.prompt.ntlm</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>spnego.logger.level</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpnegoHttpFilter</filter-name>
    <url-pattern>/api/protected/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/401.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.html</location>
  </error-page>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
